# 4.8: Grouping Data & Aggregating Variables

In [1]:
# Importing  Libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\\Users\\figue\\Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

## Task Reading

In [4]:
ords_prods_merge = ords_prods_merge.drop(columns = '_merge')

In [5]:
# Subset of data

df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 18)

In [7]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders

In [8]:
# Grouping data

df.groupby('product_name')

Grouping function is useless without an output  function

### Aggregating Data

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
df.groupby('department_id').agg({'order_number': ['mean']}).head(10)

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [11]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [12]:
df.groupby('department_id').order_number.mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In general, stick to brackets when it comes to indexing!

## Multiple Aggregations

In [13]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## Aggregating Data with transform

In [14]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\figue\AppData\Local\Temp\ipykernel_29104\1681540670.py:1: FutureWarning: The provided callable <function amax at 0x000001EC571A1C60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [16]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,3
96,1469869,377,3,5,17,3.0,False,196,9,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,False,196,3,0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,8
98,858092,420,4,1,19,30.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,22

In [17]:
pd.options.display.max_rows = None

In [18]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,9
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,20
20,2231262,31,17,3,11,8.0,False,196,14,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,20
21,2580647,43,6,4,16,4.0,False,196,9,0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,11
22,2187180,43,9,4,12,3.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,11
23,2497897,52,1,1,9,NaN,True,196,4,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,27
24,1318871,52,2,1,10,7.0,False,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,False,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,27
27,2428073,52,7,2,7,8.0,False,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,27
28,342306,52,9,1,11,7.0,False,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,27
30,2542086,52,11,2,9,7.0,False,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,27
31,944694,52,12,1,16,6.0,False,196,7,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,27
32,1268191,52,15,2,11,8.0,False,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,27
33,1122089,52,17,2,10,6.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,27
34,1498922,52,18,2,10,14.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,27
35,180919,52,19,3,8,8.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,27
36,2695875,52,21,5,10,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,27
37,3205960,67,1,3,11,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,24
38,970922,67,2,1,15,5.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,24
40,2037087,67,4,2,9,8.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,24
41,2474111,67,5,3,14,8.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,24
42,1568481,67,6,3,12,7.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,24
43,2048527,67,8,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,24
44,2389031,67,9,2,14,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,24
45,2378562,67,10,1,10,6.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,24
48,1949274,67,13,1,10,6.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,24
50,768572,67,16,4,10,9.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,24
51,150528,67,18,5,16,4.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,24
52,29758,67,19,0,14,9.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,24
53,1558976,67,21,1,9,5.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,24
54,863974,67,22,1,11,14.0,False,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
55,2308399,67,23,1,14,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24
56,2759128,81,3,1,9,14.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,7
57,1812985,81,5,2,20,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,7
58,1889835,82,1,3,15,NaN,True,196,6,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,19
59,499460,82,3,5,10,5.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,19
60,2728456,82,4,0,11,16.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,19
61,2653743,82,6,4,9,13.0,False,196,5,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,19
62,1358880,82,9,1,10,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,19
63,343588,82,10,2,11,1.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,19
64,3034663,82,15,2,11,12.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,19
65,147262,82,18,1,13,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,19
66,3144004,82,19,2,15,8.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,19
67,2126069,98,3,0,9,25.0,False,196,7,0,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Average orders,14
68,2210120,98,7,5,14,5.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,14
69,681011,98,9,3,9,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,14
70,2846344,98,11,4,13,15.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,14
71,747431,98,12,6,13,30.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,14
72,2383054,98,13,4,11,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,14
73,1993729,98,14,5,8,8.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,14
74,1403849,109,3,3,17,9.0,False,196,5,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,6
75,520620,120,1,3,11,NaN,True,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,3
76,3273029,120,3,2,8,19.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,3
77,1861943,185,2,1,12,25.0,False,196,10,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,6
78,2040988,195,1,1,14,NaN,True,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58
79,1680569,195,8,1,9,4.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,58
80,276171,195,19,5,11,3.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,58
81,2744976,195,22,5,10,7.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,58
82,2781919,195,25,1,14,4.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58
83,1738718,195,31,2,8,4.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,58
84,3058369,195,34,3,10,6.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,58
85,1485596,195,37,2,15,0.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,58
86,417035,195,40,3,16,2.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,58
87,1615297,195,47,5,10,2.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,58
88,1765587,195,52,3,12,2.0,False,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,58
89,745908,195,57,4,11,3.0,False,196,3,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,58
90,2505656,222,17,2,12,1.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,70
91,3268370,222,38,5,15,1.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,70
92,2016711,290,9,5,19,6.0,False,196,8,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,51
93,2706088,290,28,6,10,7.0,False,196,16,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,51
94,1952286,331,6,5,16,30.0,False,196,8,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,8
95,3226575,360,1,5,12,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,3
96,1469869,377,3,5,17,3.0,False,196,9,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,False,196,3,0,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,8
98,858092,420,4,1,19,30.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,22

## Deriving with loc

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [20]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [21]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [22]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [23]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

In [24]:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [25]:
ords_prods_merge['prices'].max()

25.0

# 4.8 Task Assignments

### Q2 and Q3

In [26]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The  big difference is I can  see all of the deperatment IDs compared to the 8 from the  subset. The second notable difference  is the averages are different, which makse sense since  there is  more data to pull from.

### Q4)

#### Creating  new column

In [27]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\figue\AppData\Local\Temp\ipykernel_29104\1681540670.py:1: FutureWarning: The provided callable <function amax at 0x000001EC571A1C60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

#### Assigning Loyalty  Flag

In [28]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

#### Checking inputs

In [31]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,9,New customer
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,9,New customer
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer

In [32]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [33]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(25)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2

## Q5

In [34]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

Loyal customers spend the least and new customers spend  the most. I wonder if this is due to  promotions such as free delivery for new customers that they spend  more knowing delievery is free. Also it could be due to loyal customers using coupons more frequently.

## Q6)

#### Creating column

In [35]:
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\figue\AppData\Local\Temp\ipykernel_29104\3179845422.py:1: FutureWarning: The provided callable <function mean at 0x000001EC571A2980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [36]:
ords_prods_merge.head(25)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,False,196,3,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,False,196,15,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,False,196,2,0,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,False,196,17,0,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,False,196,14,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,False,196,9,0,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,True,196,4,0,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,False,196,5,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287

#### Creating Flags

In [37]:
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

In [38]:
ords_prods_merge.loc[ords_prods_merge['average_spend']>=10,'spender_flag']='high_spender'

In [39]:
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32285131
high_spender      119728
Name: count, dtype: int64

In [40]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

    user_id  average_spend  spender_flag  prices
0         1       6.367797   Low_spender     9.0
1         1       6.367797   Low_spender     9.0
2         1       6.367797   Low_spender     9.0
3         1       6.367797   Low_spender     9.0
4         1       6.367797   Low_spender     9.0
5         1       6.367797   Low_spender     9.0
6         1       6.367797   Low_spender     9.0
7         1       6.367797   Low_spender     9.0
8         1       6.367797   Low_spender     9.0
9         1       6.367797   Low_spender     9.0
10       15       3.980556   Low_spender     9.0
11       15       3.980556   Low_spender     9.0
12       15       3.980556   Low_spender     9.0
13       15       3.980556   Low_spender     9.0
14       15       3.980556   Low_spender     9.0
15       19       8.372059   Low_spender     9.0
16       19       8.372059   Low_spender     9.0
17       19       8.372059   Low_spender     9.0
18       21       7.012683   Low_spender     9.0
19       31       8.137793   Low_spender     9.0
20       31       8.137793   Low_spender     9.0
21       43       7.444898   Low_spender     9.0
22       43       7.444898   Low_spender     9.0
23       52       6.356287   Low_spender     9.0
24       52       6.356287   Low_spender     9.0
25       52       6.356287   Low_spender     9.0
26       52       6.356287   Low_spender     9.0
27       52       6.356287   Low_spender     9.0
28       52       6.356287   Low_spender     9.0
29       52       6.356287   Low_spender     9.0
30       52       6.356287   Low_spender     9.0
31       52       6.356287   Low_spender     9.0
32       52       6.356287   Low_spender     9.0
33       52       6.356287   Low_spender     9.0
34       52       6.356287   Low_spender     9.0
35       52       6.356287   Low_spender     9.0
36       52       6.356287   Low_spender     9.0
37       67       7.656790   Low_spender     9.0
38       67       7.656790   Low_spender     9.0
39       67       7.656790   Low_spender     9.0
40       67       7.656790   Low_spender     9.0
41       67       7.656790   Low_spender     9.0
42       67       7.656790   Low_spender     9.0
43       67       7.656790   Low_spender     9.0
44       67       7.656790   Low_spender     9.0
45       67       7.656790   Low_spender     9.0
46       67       7.656790   Low_spender     9.0
47       67       7.656790   Low_spender     9.0
48       67       7.656790   Low_spender     9.0
49       67       7.656790   Low_spender     9.0
50       67       7.656790   Low_spender     9.0
51       67       7.656790   Low_spender     9.0
52       67       7.656790   Low_spender     9.0
53       67       7.656790   Low_spender     9.0
54       67       7.656790   Low_spender     9.0
55       67       7.656790   Low_spender     9.0
56       81       8.165385   Low_spender     9.0
57       81       8.165385   Low_spender     9.0
58       82       6.441221   Low_spender     9.0
59       82       6.441221   Low_spender     9.0
60       82       6.441221   Low_spender     9.0
61       82       6.441221   Low_spender     9.0
62       82       6.441221   Low_spender     9.0
63       82       6.441221   Low_spender     9.0
64       82       6.441221   Low_spender     9.0
65       82       6.441221   Low_spender     9.0
66       82       6.441221   Low_spender     9.0
67       98       8.028000   Low_spender     9.0
68       98       8.028000   Low_spender     9.0
69       98       8.028000   Low_spender     9.0
70       98       8.028000   Low_spender     9.0
71       98       8.028000   Low_spender     9.0
72       98       8.028000   Low_spender     9.0
73       98       8.028000   Low_spender     9.0
74      109       5.850725   Low_spender     9.0
75      120       9.385714   Low_spender     9.0
76      120       9.385714   Low_spender     9.0
77      185       7.715000   Low_spender     9.0
78      195       7.149730   Low_spender     9.0
79      195       7.149730   Low_spender     9.0
80      195       7.149730   Low_spender     9.0
81      195       7.149730   Low_spender     9.0
82      195       7.149730   Low_spender     9.0
83      195       7.149730   Low_spender     9.0
84      195       7.149730   Low_spender     9.0
85      195       7.149730   Low_spender     9.0
86      195       7.149730   Low_spender     9.0
87      195       7.149730   Low_spender     9.0
88      195       7.149730   Low_spender     9.0
89      195       7.149730   Low_spender     9.0
90      222       6.862397   Low_spender     9.0
91      222       6.862397   Low_spender     9.0
92      290       7.285597   Low_spender     9.0
93      290       7.285597   Low_spender     9.0
94      331       7.705128   Low_spender     9.0
95      360      10.006250  high_spender     9.0
96      377       8.496552   Low_spender     9.0
97      387       7.396610   Low_spender     9.0
98      420       7.387805   Low_spender     9.0
99      420       7.387805   Low_spender     9.0

## Q7)

#### New Column

In [41]:
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\figue\AppData\Local\Temp\ipykernel_29104\2674146743.py:1: FutureWarning: The provided callable <function median at 0x000001EC572E3920> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [42]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,customer_frequency
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low_spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low_spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low_spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low_spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low_spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low_spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low_spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low_spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low_spender,10.0
15,2293453,19,2,5,14,6.0,False,196,3,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low_spender,6.0
16,1973799,19,5,6,12,8.0,False,196,15,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,9,New customer,8.372059,Low_spender,6.0
17,532817,19,7,4,17,6.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.372059,Low_spender,6.0
18,1573906,21,10,3,10,6.0,False,196,2,0,...,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683,Low_spender,7.5
19,1593000,31,10,3,8,7.0,False,196,17,0,...,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,8.137793,Low_spender,6.0

#### Creating Flags

In [43]:
ords_prods_merge.loc[ords_prods_merge['customer_frequency']>20,'frequency_flag']='non_frequent_customer'

In [44]:
ords_prods_merge.loc[(ords_prods_merge['customer_frequency']>10) & (ords_prods_merge['customer_frequency']<=20),'frequency_flag']='regular_customer'

In [45]:
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'frequent_customer'

##### Checking Flags

In [46]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
frequent_customer        21559853
regular_customer          7208564
non_frequent_customer     3636437
nan                             5
Name: count, dtype: int64

In [47]:
ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(100)

    user_id  customer_frequency         frequency_flag
0         1                20.5  non_frequent_customer
1         1                20.5  non_frequent_customer
2         1                20.5  non_frequent_customer
3         1                20.5  non_frequent_customer
4         1                20.5  non_frequent_customer
5         1                20.5  non_frequent_customer
6         1                20.5  non_frequent_customer
7         1                20.5  non_frequent_customer
8         1                20.5  non_frequent_customer
9         1                20.5  non_frequent_customer
10       15                10.0      frequent_customer
11       15                10.0      frequent_customer
12       15                10.0      frequent_customer
13       15                10.0      frequent_customer
14       15                10.0      frequent_customer
15       19                 6.0      frequent_customer
16       19                 6.0      frequent_customer
17       19                 6.0      frequent_customer
18       21                 7.5      frequent_customer
19       31                 6.0      frequent_customer
20       31                 6.0      frequent_customer
21       43                10.0      frequent_customer
22       43                10.0      frequent_customer
23       52                 8.0      frequent_customer
24       52                 8.0      frequent_customer
25       52                 8.0      frequent_customer
26       52                 8.0      frequent_customer
27       52                 8.0      frequent_customer
28       52                 8.0      frequent_customer
29       52                 8.0      frequent_customer
30       52                 8.0      frequent_customer
31       52                 8.0      frequent_customer
32       52                 8.0      frequent_customer
33       52                 8.0      frequent_customer
34       52                 8.0      frequent_customer
35       52                 8.0      frequent_customer
36       52                 8.0      frequent_customer
37       67                 7.0      frequent_customer
38       67                 7.0      frequent_customer
39       67                 7.0      frequent_customer
40       67                 7.0      frequent_customer
41       67                 7.0      frequent_customer
42       67                 7.0      frequent_customer
43       67                 7.0      frequent_customer
44       67                 7.0      frequent_customer
45       67                 7.0      frequent_customer
46       67                 7.0      frequent_customer
47       67                 7.0      frequent_customer
48       67                 7.0      frequent_customer
49       67                 7.0      frequent_customer
50       67                 7.0      frequent_customer
51       67                 7.0      frequent_customer
52       67                 7.0      frequent_customer
53       67                 7.0      frequent_customer
54       67                 7.0      frequent_customer
55       67                 7.0      frequent_customer
56       81                30.0  non_frequent_customer
57       81                30.0  non_frequent_customer
58       82                11.5       regular_customer
59       82                11.5       regular_customer
60       82                11.5       regular_customer
61       82                11.5       regular_customer
62       82                11.5       regular_customer
63       82                11.5       regular_customer
64       82                11.5       regular_customer
65       82                11.5       regular_customer
66       82                11.5       regular_customer
67       98                25.0  non_frequent_customer
68       98                25.0  non_frequent_customer
69       98                25.0  non_frequent_customer
70       98                25.0  non_frequent_customer
71       98                25.0  non_frequent_customer
72       98                25.0  non_frequent_customer
73       98                25.0  non_frequent_customer
74      109                26.0  non_frequent_customer
75      120                19.0       regular_customer
76      120                19.0       regular_customer
77      185                25.0  non_frequent_customer
78      195                 4.0      frequent_customer
79      195                 4.0      frequent_customer
80      195                 4.0      frequent_customer
81      195                 4.0      frequent_customer
82      195                 4.0      frequent_customer
83      195                 4.0      frequent_customer
84      195                 4.0      frequent_customer
85      195                 4.0      frequent_customer
86      195                 4.0      frequent_customer
87      195                 4.0      frequent_customer
88      195                 4.0      frequent_customer
89      195                 4.0      frequent_customer
90      222                 5.0      frequent_customer
91      222                 5.0      frequent_customer
92      290                 7.0      frequent_customer
93      290                 7.0      frequent_customer
94      331                30.0  non_frequent_customer
95      360                 4.0      frequent_customer
96      377                16.5       regular_customer
97      387                 8.0      frequent_customer
98      420                 7.0      frequent_customer
99      420                 7.0      frequent_customer

## Q7

In [48]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))